# Notebook for extracting data for CEP-related analysis

This script retrieves and transforms various data sources for this analysis: 

1. EIA-861 files detailing MWh, Revenue and annual customers for CEPs
2. Customer migration statistics from the Public Utilities Commission
3. Historical standard offer rates by service territory (compiled manually)

In [155]:
import os

import pandas as pd

import helper_functions as hf
from importlib import reload

## 1. Extract and store EIA files

### Set locations

In [6]:
data_dir = os.path.join(os.getcwd(), 'raw_data')
process_dir = os.path.join(os.getcwd(), 'prepared_data')

#### Read in files from ZIPs at [EIA page](https://www.eia.gov/electricity/data/eia861/)

In [147]:
hf.download_eia_861(2012, 2022, data_dir)

Extracted Sales_Ult_Cust_2012.xlsx
Extracted Sales_Ult_Cust_2013.xls
Extracted Sales_Ult_Cust_2014.xls
Extracted Sales_Ult_Cust_2015.xlsx
Extracted Sales_Ult_Cust_2016.xlsx
Extracted Sales_Ult_Cust_2017.xlsx
Extracted Sales_Ult_Cust_2018.xlsx
Extracted Sales_Ult_Cust_2019.xlsx
Extracted Sales_Ult_Cust_2020.xlsx
Extracted Sales_Ult_Cust_2021.xlsx
Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2017.xlsx
Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2021.xlsx
Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2020.xlsx
Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2016.xlsx
Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2013.xls
Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2012.xlsx
Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2014.xls
Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2015.xlsx
Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2019.xlsx
Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2022.xlsx
Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2018.xlsx
Merged dataframe of (3438, 18)
Wrote dataframe to CSV in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/prepared_data

#### Transform and merge separate files, write to CSV and store as dataframe for inspection

In [208]:
eia_df = hf.process_and_merge_861(data_dir=data_dir, process_dir=process_dir)

Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2017.xlsx

,Data Year,Utility Number,Utility Name,Part,Service Type,Data Type\nO = Observed\nI = Imputed,State,Ownership,BA Code,Thousand Dollars,Megawatthours,Count,Thousand Dollars.1,Megawatthours.1,Count.1,Thousand Dollars.2,Megawatthours.2,Count.2
0,2017,55.0,City of Aberdeen - (MS),A,Bundled,O,MS,Municipal,TVA,3644,32158,2595,4980,47295,661,6025,118989,2
1,2017,59.0,City of Abbeville - (LA),A,Bundled,O,LA,Municipal,MISO,5279.9,52746,4464,4082.7,37537,1032,3211.8,37566,27
2,2017,84.0,A & N Electric Coop,A,Bundled,O,MD,Cooperative,PJM,235.3,2047,274,40,346,27,0,0,0
3,2017,84.0,A & N Electric Coop,A,Bundled,O,VA,Cooperative,PJM,38308.7,344508,31309,15960,156370,3992,13952.7,169301,8
4,2017,97.0,Adams Electric Coop,A,Bundled,O,IL,Cooperative,MISO,16341,109301,8603,5729,55057,222,.,.,.

Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2021.xlsx

,Data Year,Utility Number,Utility Name,Part,Service Type,Data Type\nO = Observed\nI = Imputed,State,Ownership,BA Code,Thousand Dollars,Megawatthours,Count,Thousand Dollars.1,Megawatthours.1,Count.1,Thousand Dollars.2,Megawatthours.2,Count.2
0,2021,55.0,City of Aberdeen - (MS),A,Bundled,O,MS,Municipal,TVA,3929,34013,2612,3373,29285,678,6656,133352,2
1,2021,84.0,A & N Electric Coop,A,Bundled,O,MD,Cooperative,PJM,258,2115,269,72,592,44,0,0,0
2,2021,84.0,A & N Electric Coop,A,Bundled,O,VA,Cooperative,PJM,43227,375900,32023,17467,169476,4260,13141,168719,7
3,2021,108.0,Adams-Columbia Electric Coop,A,Bundled,O,WI,Cooperative,MISO,43651,275873,35002,10434,84986,2411,17928,195647,971
4,2021,113.0,"Agway Energy Services, LLC",B,Energy,O,MD,Retail Power Marketer,PJM,14.3,119,10,5,45,3,0,0,0

Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2020.xlsx

,Data Year,Utility Number,Utility Name,Part,Service Type,Data Type\nO = Observed\nI = Imputed,State,Ownership,BA Code,Thousand Dollars,Megawatthours,Count,Thousand Dollars.1,Megawatthours.1,Count.1,Thousand Dollars.2,Megawatthours.2,Count.2
0,2020,55.0,City of Aberdeen - (MS),A,Bundled,O,MS,Municipal,TVA,3740,33274,2629,4407,41236,675,3826,87360,2
1,2020,84.0,A & N Electric Coop,A,Bundled,O,MD,Cooperative,PJM,264,2078,269,69,541,44,0,0,0
2,2020,84.0,A & N Electric Coop,A,Bundled,O,VA,Cooperative,PJM,42165,348316,31765,16825,153950,4368,13300,170017,8
3,2020,108.0,Adams-Columbia Electric Coop,A,Bundled,O,WI,Cooperative,MISO,43697,274080,34633,10302,82909,2387,16709,174673,969
4,2020,113.0,"Agway Energy Services, LLC",B,Energy,O,MD,Retail Power Marketer,PJM,7.9,85,9,1.7,19,2,0,0,0

Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2016.xlsx

,Data Year,Utility Number,Utility Name,Part,Service Type,Data Type\nO = Observed\nI = Imputed,State,Ownership,BA_CODE,Thousand Dollars,Megawatthours,Count,Thousand Dollars.1,Megawatthours.1,Count.1,Thousand Dollars.2,Megawatthours.2,Count.2
0,2016,55.0,City of Aberdeen - (MS),A,Bundled,O,AL,Municipal,TVA,.,.,.,.,.,.,.,.,.
1,2016,55.0,City of Aberdeen - (MS),A,Bundled,O,MS,Municipal,TVA,3913,35243,2607,5018,47874,669,5686,117989,2
2,2016,59.0,City of Abbeville - (LA),A,Bundled,O,LA,Municipal,MISO,5748.2,55262,4531,4247.9,37857,1033,3460.9,38959,28
3,2016,84.0,A & N Electric Coop,A,Bundled,O,MD,Cooperative,PJM,248,2063,266,63.3,502,44,0,0,0
4,2016,84.0,A & N Electric Coop,A,Bundled,O,VA,Cooperative,PJM,39757,340556,31000,17027.4,157615,3987,14907.2,173874,8

Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2013.xls

,Data Year,Utility Number,Utility Name,Part,SERVICE_TYPE,Data Type\nO = Observed\nI = Imputed,State,Ownership,BA_CODE,Thousand Dollars,Megawatthours,Count,Thousand Dollars.1,Megawatthours.1,Count.1,Thousand Dollars.2,Megawatthours.2,Count.2
0,2013,55.0,City of Aberdeen - (MS),A,Bundled,O,MS,Municipal,TVA,3802,36244,2665,4096,38214,680,6573,121334,2
1,2013,59.0,City of Abbeville - (LA),A,Bundled,O,LA,Municipal,MISO,6524,56007,4551,4991,39888,1041,3772,37203,24
2,2013,84.0,A & N Electric Coop,A,Bundled,O,MD,Cooperative,PJM,254.7,2206,272,65.3,538,45,0,0,0
3,2013,84.0,A & N Electric Coop,A,Bundled,O,VA,Cooperative,PJM,37881.3,335905,30652,16946.2,165246,3913,13126.2,158903,7
4,2013,97.0,Adams Electric Coop,A,Bundled,O,IL,Cooperative,MISO,15905,115109,8400,4852,50296,202,.,.,.

Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2012.xlsx

,Data Year,Utility Number,Utility Name,Part,SERVICE_TYPE,Data Type\nO = Observed\nI = Imputed,State,Ownership,BA_CODE,Thousands Dollars,Megawatthours,Count,Thousands Dollars.1,Megawatthours.1,Count.1,Thousands Dollars.2,Megawatthours.2,Count.2
0,2012,55,City of Aberdeen - (MS),A,Bundled,O,MS,Municipal,NaN,3664,35102,2690,3755,34205,687,7566,123187,3
1,2012,59,City of Abbeville - (LA),A,Bundled,O,LA,Municipal,NaN,5677,54580,4569,4534,40342,1040,3317,37399,24
2,2012,84,A & N Electric Coop,A,Bundled,O,MD,Cooperative,NaN,251.2,2069,276,69.6,548,45,0,0,0
3,2012,84,A & N Electric Coop,A,Bundled,O,VA,Cooperative,NaN,37854.3,320164,30659,17279.2,158668,3926,14661.4,168368,5
4,2012,97,Adams Electric Coop,A,Bundled,O,IL,Cooperative,NaN,14937,105841,8375,4938,53264,196,.,.,.

Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2014.xls

,Data Year,Utility Number,Utility Name,Part,SERVICE_TYPE,Data Type\nO = Observed\nI = Imputed,State,Ownership,BA_CODE,Thousand Dollars,Megawatthours,Count,Thousand Dollars.1,Megawatthours.1,Count.1,Thousand Dollars.2,Megawatthours.2,Count.2
0,2014,55.0,City of Aberdeen - (MS),A,Bundled,O,MS,Municipal,TVA,4096,37090,2629,4226,37978,679,6430,115634,2
1,2014,59.0,City of Abbeville - (LA),A,Bundled,O,LA,Municipal,MISO,5878,56496,4585,4404,39148,1029,3506,39510,27
2,2014,84.0,A & N Electric Coop,A,Bundled,O,MD,Cooperative,PJM,269.2,2238,269,69.2,544,44,.,.,.
3,2014,84.0,A & N Electric Coop,A,Bundled,O,VA,Cooperative,PJM,41418.2,353002,30758,17742.7,161534,3933,15226.8,170770,8
4,2014,97.0,Adams Electric Coop,A,Bundled,O,IL,Cooperative,MISO,16685,118512,8433,5158,50633,207,.,.,.

Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2015.xlsx

,Data Year,Utility Number,Utility Name,Part,Service Type,Data Type\nO = Observed\nI = Imputed,State,Ownership,BA_CODE,Thousand Dollars,Megawatthours,Count,Thousand Dollars.1,Megawatthours.1,Count.1,Thousand Dollars.2,Megawatthours.2,Count.2
0,2015,55.0,City of Aberdeen - (MS),A,Bundled,O,MS,Municipal,TVA,3895,35346,2624,4627,42794,659,6205,120761,2
1,2015,59.0,City of Abbeville - (LA),A,Bundled,O,LA,Municipal,MISO,5966.6,57203,4576,4357.1,39545,1031,3631.8,42140,28
2,2015,84.0,A & N Electric Coop,A,Bundled,O,MD,Cooperative,PJM,273.1,2207,268,69.8,538,44,0,0,0
3,2015,84.0,A & N Electric Coop,A,Bundled,O,VA,Cooperative,PJM,44074.2,366441,30892,18209.2,161517,3931,16861.7,184580,8
4,2015,97.0,Adams Electric Coop,A,Bundled,O,IL,Cooperative,MISO,16107,109511,8461,5384,52301,216,.,.,.

Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/customer_migration_statistics.xls

,Unnamed: 0,Small class,Unnamed: 2,Unnamed: 3,Medium class,Unnamed: 5,Unnamed: 6,Large class,Unnamed: 8,Unnamed: 9,All VP-BHD,Unnamed: 11,Unnamed: 12,Small class.1,Unnamed: 14,Unnamed: 15,Medium class.1,Unnamed: 17
0,NaT,# CEP,% CEP,# customers in class,# CEP,% CEP,# customers in class,# CEP,% CEP,# customers in class,# CEP,% CEP,# customers in class,# CEP,% CEP,# customers in class,# CEP,% CEP
1,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-07-31,10708,0.083539,128179,883,0.511587,1726,35,0.614035,57,11626,0.089457,129962,74959,0.119863,625370,5629,0.5383
3,2023-06-30,10553,0.082,128042,877,0.508,1728,35,0.614,57,11465,0.088,129827,75195,0.115439,651384,5853,0.528392
4,2023-05-31,10329,0.08083,127786,863,0.499421,1728,35,0.625,56,11227,0.086648,129570,71824,0.110093,652394,5787,0.519246

Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2019.xlsx

,Data Year,Utility Number,Utility Name,Part,Service Type,Data Type\nO = Observed\nI = Imputed,State,Ownership,BA Code,Short Form,Thousand Dollars,Megawatthours,Count,Thousand Dollars.1,Megawatthours.1,Count.1,Thousand Dollars.2,Megawatthours.2
0,2019,34.0,City of Abbeville - (SC),A,Bundled,O,SC,Municipal,DUK,Y,4563,33000,3384,2973,25000,460,0,.
1,2019,55.0,City of Aberdeen - (MS),A,Bundled,O,MS,Municipal,TVA,NaN,3930,34781,2566,5229,48943,662,5638,120537
2,2019,59.0,City of Abbeville - (LA),A,Bundled,O,LA,Municipal,MISO,NaN,5907.5,59232,4580,3464.4,32466,887,3011.1,35881
3,2019,84.0,A & N Electric Coop,A,Bundled,O,MD,Cooperative,PJM,NaN,273.5,2094,272,69.5,529,44,.,.
4,2019,84.0,A & N Electric Coop,A,Bundled,O,VA,Cooperative,PJM,NaN,44102,357988,31427,18546,167237,4183,15516,176162

Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2022.xlsx

,Data Year,Utility Number,Utility Name,Part,Service Type,Data Type\nO = Observed\nI = Imputed,State,Ownership,BA Code,Thousand Dollars,Megawatthours,Count,Thousand Dollars.1,Megawatthours.1,Count.1,Thousand Dollars.2,Megawatthours.2,Count.2
0,2022,55.0,City of Aberdeen - (MS),A,Bundled,O,MS,Municipal,TVA,4345,34383,2588,3684,29241,711,7847,129598,2
1,2022,84.0,A & N Electric Coop,A,Bundled,O,MD,Cooperative,PJM,301.4,2337,261,79.8,606,42,0,0,0
2,2022,84.0,A & N Electric Coop,A,Bundled,O,VA,Cooperative,PJM,47388.3,376851,32415,20127.1,175360,4186,15268.5,161135,6
3,2022,108.0,Adams-Columbia Electric Coop,A,Bundled,O,WI,Cooperative,MISO,48027.2,279312,35333,11798.6,85681,2497,24865.2,254133,982
4,2022,113.0,"Agway Energy Services, LLC",B,Energy,O,MD,Retail Power Marketer,PJM,11.7,71,8,0.3,2,1,0,0,0

Reading in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/raw_data/Sales_Ult_Cust_2018.xlsx

,Data Year,Utility Number,Utility Name,Part,Service Type,Data Type\nO = Observed\nI = Imputed,State,Ownership,BA Code,Thousand Dollars,Megawatthours,Count,Thousand Dollars.1,Megawatthours.1,Count.1,Thousand Dollars.2,Megawatthours.2,Count.2
0,2018,55.0,City of Aberdeen - (MS),A,Bundled,O,MS,Municipal,TVA,4185,37455,2566,5483,52636,664,5723,119640,2
1,2018,59.0,City of Abbeville - (LA),A,Bundled,O,LA,Municipal,MISO,5572.6,56479,4655,4053.7,37773,1032,3009.2,35590,27
2,2018,84.0,A & N Electric Coop,A,Bundled,O,MD,Cooperative,PJM,279.9,2312,271,73.5,589,43,0,0,0
3,2018,84.0,A & N Electric Coop,A,Bundled,O,VA,Cooperative,PJM,45278,386800,31382,18724,172307,4130,13721,161336,8
4,2018,97.0,Adams Electric Coop,A,Bundled,O,IL,Cooperative,MISO,17507,119449,8664,5839,55527,225,.,.,.

Merged dataframe of (104481, 13)
Wrote dataframe to CSV in /Users/Darren/git-clones/data-projects/CEPs/etl_scripts/prepared_data

## Extract and process

In [207]:
reload(hf)

## 2. Maine customer migration statistics

Update file dir based on [this page](https://www.maine.gov/mpuc/regulated-utilities/electricity/choosing-supplier/migration-statistics) from the Maine PUC.

In [153]:
migration_xls = 'https://www.maine.gov/mpuc/sites/maine.gov.mpuc/files/inline-files/Standard%20Offer%20Migration%20Stats%20through%2008.15.23.xls'

In [199]:
migration_df = hf.process_customer_migration_files(migration_xls, data_dir, process_dir)

migration_df.head()

Captured and wrote Customers file of shape (822, 4)
Captured and wrote Load file of shape (825, 4)

        DATE  CEP_LOAD_MWH  TOTAL_CLASS_LOAD_MWH                UTILITY
1 2023-07-31    211.428571           2176.285714  BANGOR HYDRO DISTRICT
2 2023-06-30    199.000000           2027.000000  BANGOR HYDRO DISTRICT
3 2023-05-31    194.571429           1999.857143  BANGOR HYDRO DISTRICT
4 2023-04-30    187.142857           2085.571429  BANGOR HYDRO DISTRICT
5 2023-03-31    237.571429           2751.571429  BANGOR HYDRO DISTRICT