In [18]:
import pandas as pd
import numpy as np
import os

In [19]:
df = pd.read_csv('etl_scripts/prepared_data/sales_ult_cust_all_years.csv')

In [20]:
df.head()

,YEAR,UTILITY_NUMBER,UTILITY_NAME,PART,SERVICE_TYPE,DATA_TYPE,STATE,OWNERSHIP,BA_CODE,REVENUE,SALES_KWH,CUSTOMERS,CUSTOMER_TYPE
0,2017,55.0,City of Aberdeen - (MS),A,Bundled,O,MS,Municipal,TVA,3644000,32158000,2595,RESIDENTIAL
1,2017,59.0,City of Abbeville - (LA),A,Bundled,O,LA,Municipal,MISO,5279900.0,52746000,4464,RESIDENTIAL
2,2017,84.0,A & N Electric Coop,A,Bundled,O,MD,Cooperative,PJM,235300.0,2047000,274,RESIDENTIAL
3,2017,84.0,A & N Electric Coop,A,Bundled,O,VA,Cooperative,PJM,38308700.0,344508000,31309,RESIDENTIAL
4,2017,97.0,Adams Electric Coop,A,Bundled,O,IL,Cooperative,MISO,16341000,109301000,8603,RESIDENTIAL

In [21]:
me_res_df = df[(df['CUSTOMER_TYPE'] == 'RESIDENTIAL') & (df['STATE'] == 'ME') & (df['OWNERSHIP'] == 'Retail Power Marketer') & (df['CUSTOMERS'] != '.')]
me_res_df.head(20)

,YEAR,UTILITY_NUMBER,UTILITY_NAME,PART,SERVICE_TYPE,DATA_TYPE,STATE,OWNERSHIP,BA_CODE,REVENUE,SALES_KWH,CUSTOMERS,CUSTOMER_TYPE
140,2017,1611.0,"Linde Energy Services, Inc.",B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
400,2017,4191.0,Consolidated Edison Sol Inc,B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
690,2017,7279.0,"NextEra Energy Services, LLC",B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
1230,2017,13374.0,"Constellation NewEnergy, Inc",B,Energy,O,ME,Retail Power Marketer,ISNE,55000,874000,47,RESIDENTIAL
1632,2017,16840.0,"Calpine Energy Solutions, LLC",B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
1702,2017,17549.0,South Jersey Energy Company,B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
1802,2017,18193.0,Strategic Energy LLC,B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
1906,2017,19119.0,"TransCanada Power Marketing, Ltd.",B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
2142,2017,21795.0,"Constellation Energy Services, Inc.",B,Energy,O,ME,Retail Power Marketer,ISNE,118600.0,1658000,154,RESIDENTIAL
2258,2017,49730.0,American PowerNet,B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
2269,2017,49891.0,NextEra Energy Power Marketing LLC,B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
2281,2017,50046.0,"Texas Retail Energy, LLC",B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
2321,2017,54862.0,Champion Energy Services,B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
2331,2017,54873.0,Freedom Energy,B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
2352,2017,55781.0,Liberty Power Corp.,B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
2401,2017,56212.0,"Ambit Energy Holdings, LLC",B,Energy,O,ME,Retail Power Marketer,ISNE,3867800.0,51083000,6536,RESIDENTIAL
2453,2017,56522.0,"Backyard Farms Energy, LLC",B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
2498,2017,57067.0,"ENGIE Retail, LLC",B,Energy,O,ME,Retail Power Marketer,ISNE,2066900.0,31376000,4037,RESIDENTIAL
2580,2017,58085.0,"Electricity Maine, LLC",B,Energy,O,ME,Retail Power Marketer,ISNE,46942000,474743000,67295,RESIDENTIAL
2598,2017,58158.0,FairPoint Energy LLC,B,Energy,O,ME,Retail Power Marketer,NBSO,4893300.0,57837000,9749,RESIDENTIAL

### Annual numbers

In [22]:
import matplotlib as plt

In [23]:
me_res_df['CUSTOMERS'] = me_res_df['CUSTOMERS'].astype('int')
me_res_df['SALES_KWH'] = me_res_df['SALES_KWH'].astype('int')
me_res_df.groupby('YEAR')['CUSTOMERS'].sum()

/var/folders/y6/mrljv2f12c56x4bmwb18gr8h0000gp/T/ipykernel_1191/4157095894.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  me_res_df['CUSTOMERS'] = me_res_df['CUSTOMERS'].astype('int')
/var/folders/y6/mrljv2f12c56x4bmwb18gr8h0000gp/T/ipykernel_1191/4157095894.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  me_res_df['SALES_KWH'] = me_res_df['SALES_KWH'].astype('int')

YEAR
2012     812857
2013     917381
2014    1114153
2015     136139
2016     117544
2017     112504
2018     105786
2019      76053
2020      67730
2021      64279
2022      62100
Name: CUSTOMERS, dtype: int64

In [24]:
me_res_df.UTILITY_NAME.unique()

array(['Linde Energy Services, Inc.', 'Consolidated Edison Sol Inc',
       'NextEra Energy Services, LLC', 'Constellation NewEnergy, Inc',
       'Calpine Energy Solutions, LLC', 'South Jersey Energy Company',
       'Strategic Energy LLC', 'TransCanada Power Marketing, Ltd.',
       'Constellation Energy Services, Inc.', 'American PowerNet',
       'NextEra Energy Power Marketing LLC', 'Texas Retail Energy, LLC',
       'Champion Energy Services', 'Freedom Energy',
       'Liberty Power Corp.', 'Ambit Energy Holdings, LLC',
       'Backyard Farms Energy, LLC', 'ENGIE Retail, LLC',
       'Electricity Maine, LLC', 'FairPoint Energy LLC',
       'C. N. Brown Electricity, LLC', 'XOOM Energy Maine, LLC',
       'North American Power and Gas, LLC', 'Mint Energy, LLC',
       'Clearview Electric Inc.', 'Mega Energy of Maine, LLC',
       'Union Atlantic Electricity', 'Agera Energy LLC',
       'EDF Energy Services, LLC', 'First Point Power, LLC',
       'Algonquin Energy Services', 'Messer Energy Services, Inc.',
       'Calpine Power America LLC', 'ENGIE Resources LLC',
       'SmartEnergy Holdings, LLC', 'Town Square Energy',
       'Sunwave Gas & Power Connecticut, Inc.', 'MP2 Energy LLC',
       'Direct Energy Business', 'New Brunswick Power Generation Corp.',
       'NextEra Energy Power Marketing', 'Dominion Retail Inc',
       'CECG Maine, LLC', 'Noble Americas Energy Solutions LLC',
       'Suez Energy Resources North Am',
       'Direct Energy Business Marketing, LLC',
       'Talen Energy Marketing, LLC', 'Competitive Energy Services, L',
       'Glacial Energy Holdings', 'NEPM II', 'GEXA Corp.',
       'Integrys Energy Services, Inc.', 'HESS CORPORATION',
       'PPL EnergyPlus LLC', 'ENGIE Resources Inc.',
       'Gulf Oil Limited Partnership', 'Major Energy Electric Services',
       'Energywell LLC'], dtype=object)

In [25]:
# Calculate the sum of SALES_KWH and CUSTOMERS grouped by year
sum_sales_kwh = me_res_df.groupby('YEAR')['SALES_KWH'].sum()
sum_customers = me_res_df.groupby('YEAR')['CUSTOMERS'].sum()

# Compute the quotient
quotient = sum_sales_kwh / sum_customers / 12
quotient

YEAR
2012    461.561710
2013    432.629409
2014    377.197147
2015    571.064011
2016    562.141269
2017    535.886131
2018    539.896584
2019    587.276855
2020    580.470250
2021    584.522161
2022    557.546967
dtype: float64

In [26]:
print('Annual Average Per Customer')
me_res_df.groupby('YEAR')['SALES_KWH'].sum() / me_res_df.groupby('YEAR')['CUSTOMERS'].sum() / 12

Annual Average Per Customer

YEAR
2012    461.561710
2013    432.629409
2014    377.197147
2015    571.064011
2016    562.141269
2017    535.886131
2018    539.896584
2019    587.276855
2020    580.470250
2021    584.522161
2022    557.546967
dtype: float64

## Computing average price required to save $33M

Average standard offer (as used in OPA analysis): 0.115291333333333
Year-end CEP customers in analysis: 51,834
Stated savings: 33,205,291

In [27]:
puc_migration = pd.read_csv('etl_scripts/prepared_data/customers_migrated.csv')
puc_migration['DATE'] = pd.to_datetime(puc_migration['DATE'])

puc_migration[(puc_migration['DATE'].dt.month == 12) & (puc_migration['CUSTOMER_CLASS'] == 'SMALL')]

,DATE,CEP_CUSTOMERS,TOTAL_CUSTOMERS,UTILITY,CUSTOMER_CLASS
7,2022-12-31,10017.0,126794.0,BANGOR HYDRO DISTRICT,SMALL
19,2021-12-31,10772.0,134874.0,BANGOR HYDRO DISTRICT,SMALL
31,2020-12-31,11040.0,133202.0,BANGOR HYDRO DISTRICT,SMALL
43,2019-12-01,11076.0,127251.0,BANGOR HYDRO DISTRICT,SMALL
55,2018-12-01,11933.0,126595.0,BANGOR HYDRO DISTRICT,SMALL
...,...,...,...,...,...
1319,2004-12-01,2671.0,NaN,MAINE PUBLIC SERVICE,SMALL
1331,2003-12-01,2882.0,NaN,MAINE PUBLIC SERVICE,SMALL
1342,2002-12-01,5715.0,NaN,MAINE PUBLIC SERVICE,SMALL
1354,2001-12-01,1281.0,NaN,MAINE PUBLIC SERVICE,SMALL
1366,2000-12-01,1680.0,NaN,MAINE PUBLIC SERVICE,SMALL

In [112]:
puc_migration['DATE'] = pd.to_datetime(puc_migration['DATE'])
puc_migration['YEAR'] = puc_migration['DATE'].dt.year

puc_year_end = puc_migration[puc_migration['DATE'].dt.month == 12]
puc_year_end.groupby('DATE')['CEP_CUSTOMERS'].sum()

DATE
2000-12-01     2951.00000
2001-12-01     4838.00000
2002-12-01     8688.00000
2003-12-01     8088.00000
2004-12-01     8399.00000
2005-12-01     7160.00000
2006-12-01     6308.00000
2007-12-01     6903.00000
2008-12-01     6774.00000
2009-12-01    13256.00000
2010-12-01    22472.00000
2011-12-01    37749.00000
2012-12-01   197008.00000
2013-12-01   216997.00000
2014-12-01   178283.00000
2015-12-01   150837.00000
2016-12-01   140674.00000
2017-12-01   118073.00000
2018-12-01   110486.00000
2019-12-01   102210.00000
2020-12-31    96969.00000
2021-12-31    90609.00000
2022-12-31    87103.00000
Name: CEP_CUSTOMERS, dtype: float64

### Import rate info from PDFs

In [40]:
import tabula

pdf_path = "etl_scripts/raw_data/2024-02-06_OPA Testimony_SUPPORT w Attachments_LD 2163.pdf"
tables = tabula.read_pdf(pdf_path, pages='4-8', multiple_tables=True)
rates_df = tables[0]

new_row = pd.DataFrame([rates_df.columns], columns=rates_df.columns)
rates_df = pd.concat([new_row, rates_df], ignore_index=True)

rates_df.columns = ['YEAR', 'CMP_STANDARD', 'CMP_CEP', 'BHD_STANDARD', 'BHD_CEP', 'MPS_STANDARD', 'MPS_CEP']

all_rates_df = rates_df.applymap(lambda x: pd.to_numeric(str(x).replace('$', ''), errors='coerce'))

rates_df = rates_df.drop(columns=rates_df.columns[-2:])

# Convert all values to numeric
rates_df = rates_df.applymap(lambda x: pd.to_numeric(str(x).replace('$', ''), errors='coerce'))

# Compute average standard offer and CEP rates for each year
melted_df = pd.melt(rates_df, id_vars=['YEAR'], var_name='column')

# Extract the type (e.g., STANDARD or CEP) from the column names
melted_df['type'] = melted_df['column'].str.split('_').str[-1]

# Compute the average for each group of columns
average_df = melted_df.groupby(['YEAR', 'type'])['value'].mean().reset_index()

# Pivot the DataFrame back to the desired wide format
rates_df = average_df.pivot(index='YEAR', columns='type', values='value').reset_index()

# Rename the columns
rates_df.columns.name = None  # Remove the 'type' header
rates_df.columns = ['YEAR', 'AVG_CEP', 'AVG_STANDARD']

rates_df

   YEAR   AVG_CEP  AVG_STANDARD
0  2016  0.079866      0.065441
1  2017  0.076268      0.065065
2  2018  0.092201      0.075728
3  2019  0.091628      0.086862
4  2020  0.091652      0.070911
5  2021  0.083604      0.063227
6  2022  0.087177      0.117501

In [89]:
cust_df = tables[1]
cust_df[['YEAR', 'MPUC', 'EIA']] = cust_df['Total Year-end Residential CEP Customers'].str.split(expand=True)
cust_df = cust_df.iloc[1:, 1:]
cust_df = cust_df.applymap(lambda x: pd.to_numeric(x.replace(',', '')))
cust_df = cust_df.reset_index(drop=True)
cust_df

   YEAR    MPUC     EIA
0  2016  115040  117544
1  2017  116700  112504
2  2018   85843  105786
3  2019   71600   76053
4  2020   67553   67730
5  2021   64693   64279
6  2022   51834   62100

In [ ]:
savings = {
    'YEAR': range(2016, 2023),
    'SAVINGS': [30350984, 18841561, 15920084, 4735869, 18163917, 25551475, -33205291] 
} 

savings_df = pd.DataFrame(savings)

savings_df

In [ ]:
analysis_df = savings_df.merge(cust_df, on='YEAR').merge(rates_df, on='YEAR')

analysis_df

In [ ]:
# kw = savings / (avg_std - avg_cep)
# kw / cust_2022 / 12

avg_use = abs( analysis_df['SAVINGS'] / (analysis_df['AVG_STANDARD'] - analysis_df['AVG_CEP']) / analysis_df['MPUC'] / 12 )

print('AVERAGE MONTHLY USE FROM SAVINGS')
avg_use

## Analysis assuming set annual average

Assuming a parameterized annual average household usage, use the most generous rate (in MPS) to estimate savings.

In [106]:
scenarios = np.linspace(450, 1600, 6, dtype=int)

rate_diff = all_rates_df['BHD_CEP'] - all_rates_df['BHD_STANDARD']

collector = []

for scenario in scenarios:
    saving_scenario = cust_df['MPUC'] * scenario * 12 * rate_diff
    
    saving_df = pd.DataFrame()
    saving_df['YEAR'] = cust_df['YEAR']
    saving_df['BHD_CEP'] = all_rates_df['BHD_CEP']
    saving_df['BHD_STANDARD'] = all_rates_df['BHD_STANDARD']
    saving_df['CUSTOMERS (MPUC)'] = cust_df['MPUC']
    saving_df['MONTHLY_USAGE_ASSUMPTION (KWH)'] = scenario
    saving_df['COST_OR_SAVINGS'] = saving_scenario
    saving_df = saving_df[~saving_df['COST_OR_SAVINGS'].isna()]
    collector.append(saving_df)

scenario_df = pd.concat(collector)
scenario_df.to_csv('CEP_SAVING_SCENARIOS.csv', index=False)
scenario_df

,YEAR,BHD_CEP,BHD_STANDARD,CUSTOMERS (MPUC),MONTHLY_USAGE_ASSUMPTION (KWH),COST_OR_SAVINGS
0,2016,0.06242,0.06624,115040,450,-2371181.47200
1,2017,0.06539,0.06322,116700,450,1364969.88000
2,2018,0.09225,0.07225,85843,450,9270580.44780
3,2019,0.09005,0.08370,71600,450,2456710.56000
4,2020,0.09169,0.06878,67553,450,8357251.84200
5,2021,0.08135,0.06196,64693,450,6773046.57360
6,2022,0.08335,0.11684,51834,450,-9374531.37120
0,2016,0.06242,0.06624,115040,680,-3583118.66880
1,2017,0.06539,0.06322,116700,680,2062621.15200
2,2018,0.09225,0.07225,85843,680,14008877.12112
3,2019,0.09005,0.08370,71600,680,3712362.62400
4,2020,0.09169,0.06878,67553,680,12628736.11680
5,2021,0.08135,0.06196,64693,680,10234825.93344
6,2022,0.08335,0.11684,51834,680,-14165958.51648
0,2016,0.06242,0.06624,115040,910,-4795055.86560
1,2017,0.06539,0.06322,116700,910,2760272.42400
2,2018,0.09225,0.07225,85843,910,18747173.79444
3,2019,0.09005,0.08370,71600,910,4968014.68800
4,2020,0.09169,0.06878,67553,910,16900220.39160
5,2021,0.08135,0.06196,64693,910,13696605.29328
6,2022,0.08335,0.11684,51834,910,-18957385.66176
0,2016,0.06242,0.06624,115040,1140,-6006993.06240
1,2017,0.06539,0.06322,116700,1140,3457923.69600
2,2018,0.09225,0.07225,85843,1140,23485470.46776
3,2019,0.09005,0.08370,71600,1140,6223666.75200
4,2020,0.09169,0.06878,67553,1140,21171704.66640
5,2021,0.08135,0.06196,64693,1140,17158384.65312
6,2022,0.08335,0.11684,51834,1140,-23748812.80704
0,2016,0.06242,0.06624,115040,1370,-7218930.25920
1,2017,0.06539,0.06322,116700,1370,4155574.96800
2,2018,0.09225,0.07225,85843,1370,28223767.14108
3,2019,0.09005,0.08370,71600,1370,7479318.81600
4,2020,0.09169,0.06878,67553,1370,25443188.94120
5,2021,0.08135,0.06196,64693,1370,20620164.01296
6,2022,0.08335,0.11684,51834,1370,-28540239.95232
0,2016,0.06242,0.06624,115040,1600,-8430867.45600
1,2017,0.06539,0.06322,116700,1600,4853226.24000
2,2018,0.09225,0.07225,85843,1600,32962063.81440
3,2019,0.09005,0.08370,71600,1600,8734970.88000
4,2020,0.09169,0.06878,67553,1600,29714673.21600
5,2021,0.08135,0.06196,64693,1600,24081943.37280
6,2022,0.08335,0.11684,51834,1600,-33331667.09760

In [99]:
all_rates_df['CMP_VAR'] = all_rates_df['CMP_STANDARD'] - all_rates_df['CMP_CEP']
all_rates_df['BHD_VAR'] = all_rates_df['BHD_STANDARD'] - all_rates_df['BHD_CEP']
all_rates_df['MPS_VAR'] = all_rates_df['MPS_STANDARD'] - all_rates_df['MPS_CEP']

all_rates_df

,YEAR,CMP_STANDARD,CMP_CEP,BHD_STANDARD,BHD_CEP,MPS_STANDARD,MPS_CEP,CMP_VAR,BHD_VAR,MPS_VAR
0,2016,0.06464,0.09731,0.06624,0.06242,0.08260,NaN,-0.03267,0.00382,NaN
1,2017,0.06691,0.08715,0.06322,0.06539,0.07067,0.07068,-0.02024,-0.00217,-0.00001
2,2018,0.07921,0.09215,0.07225,0.09225,0.07423,0.06693,-0.01295,-0.02000,0.00730
3,2019,0.09003,0.09321,0.08370,0.09005,0.08461,0.07197,-0.00318,-0.00635,0.01264
4,2020,0.07304,0.09161,0.06878,0.09169,0.06729,0.07128,-0.01857,-0.02291,-0.00399
5,2021,0.06449,0.08586,0.06196,0.08135,0.06027,0.07086,-0.02137,-0.01939,-0.01059
6,2022,0.11816,0.09101,0.11684,0.08335,0.11087,0.07795,0.02716,0.03349,0.03292