In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv('etl_scripts/prepared_data/sales_ult_cust_all_years.csv')

In [3]:
df.head()

,YEAR,UTILITY_NUMBER,UTILITY_NAME,PART,SERVICE_TYPE,DATA_TYPE,STATE,OWNERSHIP,BA_CODE,REVENUE,SALES_KWH,CUSTOMERS,CUSTOMER_TYPE
0,2017,55.0,City of Aberdeen - (MS),A,Bundled,O,MS,Municipal,TVA,3644000,32158000,2595,RESIDENTIAL
1,2017,59.0,City of Abbeville - (LA),A,Bundled,O,LA,Municipal,MISO,5279900.0,52746000,4464,RESIDENTIAL
2,2017,84.0,A & N Electric Coop,A,Bundled,O,MD,Cooperative,PJM,235300.0,2047000,274,RESIDENTIAL
3,2017,84.0,A & N Electric Coop,A,Bundled,O,VA,Cooperative,PJM,38308700.0,344508000,31309,RESIDENTIAL
4,2017,97.0,Adams Electric Coop,A,Bundled,O,IL,Cooperative,MISO,16341000,109301000,8603,RESIDENTIAL

In [4]:
me_res_df = df[(df['CUSTOMER_TYPE'] == 'RESIDENTIAL') & (df['STATE'] == 'ME') & (df['OWNERSHIP'] == 'Retail Power Marketer') & (df['CUSTOMERS'] != '.')]
me_res_df.head(20)

,YEAR,UTILITY_NUMBER,UTILITY_NAME,PART,SERVICE_TYPE,DATA_TYPE,STATE,OWNERSHIP,BA_CODE,REVENUE,SALES_KWH,CUSTOMERS,CUSTOMER_TYPE
140,2017,1611.0,"Linde Energy Services, Inc.",B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
400,2017,4191.0,Consolidated Edison Sol Inc,B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
690,2017,7279.0,"NextEra Energy Services, LLC",B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
1230,2017,13374.0,"Constellation NewEnergy, Inc",B,Energy,O,ME,Retail Power Marketer,ISNE,55000,874000,47,RESIDENTIAL
1632,2017,16840.0,"Calpine Energy Solutions, LLC",B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
1702,2017,17549.0,South Jersey Energy Company,B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
1802,2017,18193.0,Strategic Energy LLC,B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
1906,2017,19119.0,"TransCanada Power Marketing, Ltd.",B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
2142,2017,21795.0,"Constellation Energy Services, Inc.",B,Energy,O,ME,Retail Power Marketer,ISNE,118600.0,1658000,154,RESIDENTIAL
2258,2017,49730.0,American PowerNet,B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
2269,2017,49891.0,NextEra Energy Power Marketing LLC,B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
2281,2017,50046.0,"Texas Retail Energy, LLC",B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
2321,2017,54862.0,Champion Energy Services,B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
2331,2017,54873.0,Freedom Energy,B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
2352,2017,55781.0,Liberty Power Corp.,B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
2401,2017,56212.0,"Ambit Energy Holdings, LLC",B,Energy,O,ME,Retail Power Marketer,ISNE,3867800.0,51083000,6536,RESIDENTIAL
2453,2017,56522.0,"Backyard Farms Energy, LLC",B,Energy,O,ME,Retail Power Marketer,ISNE,0,0,0,RESIDENTIAL
2498,2017,57067.0,"ENGIE Retail, LLC",B,Energy,O,ME,Retail Power Marketer,ISNE,2066900.0,31376000,4037,RESIDENTIAL
2580,2017,58085.0,"Electricity Maine, LLC",B,Energy,O,ME,Retail Power Marketer,ISNE,46942000,474743000,67295,RESIDENTIAL
2598,2017,58158.0,FairPoint Energy LLC,B,Energy,O,ME,Retail Power Marketer,NBSO,4893300.0,57837000,9749,RESIDENTIAL

### Annual numbers

In [5]:
import matplotlib as plt

In [6]:
me_res_df['CUSTOMERS'] = me_res_df['CUSTOMERS'].astype('int')
me_res_df['SALES_KWH'] = me_res_df['SALES_KWH'].astype('int')
me_res_df.groupby('YEAR')['CUSTOMERS'].sum()

/var/folders/y6/mrljv2f12c56x4bmwb18gr8h0000gp/T/ipykernel_2352/4157095894.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  me_res_df['CUSTOMERS'] = me_res_df['CUSTOMERS'].astype('int')
/var/folders/y6/mrljv2f12c56x4bmwb18gr8h0000gp/T/ipykernel_2352/4157095894.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  me_res_df['SALES_KWH'] = me_res_df['SALES_KWH'].astype('int')

YEAR
2012     812857
2013     917381
2014    1114153
2015     136139
2016     117544
2017     112504
2018     105786
2019      76053
2020      67730
2021      64279
2022      62100
Name: CUSTOMERS, dtype: int64

In [7]:
me_res_df.UTILITY_NAME.unique()

array(['Linde Energy Services, Inc.', 'Consolidated Edison Sol Inc',
       'NextEra Energy Services, LLC', 'Constellation NewEnergy, Inc',
       'Calpine Energy Solutions, LLC', 'South Jersey Energy Company',
       'Strategic Energy LLC', 'TransCanada Power Marketing, Ltd.',
       'Constellation Energy Services, Inc.', 'American PowerNet',
       'NextEra Energy Power Marketing LLC', 'Texas Retail Energy, LLC',
       'Champion Energy Services', 'Freedom Energy',
       'Liberty Power Corp.', 'Ambit Energy Holdings, LLC',
       'Backyard Farms Energy, LLC', 'ENGIE Retail, LLC',
       'Electricity Maine, LLC', 'FairPoint Energy LLC',
       'C. N. Brown Electricity, LLC', 'XOOM Energy Maine, LLC',
       'North American Power and Gas, LLC', 'Mint Energy, LLC',
       'Clearview Electric Inc.', 'Mega Energy of Maine, LLC',
       'Union Atlantic Electricity', 'Agera Energy LLC',
       'EDF Energy Services, LLC', 'First Point Power, LLC',
       'Algonquin Energy Services', 'Messer Energy Services, Inc.',
       'Calpine Power America LLC', 'ENGIE Resources LLC',
       'SmartEnergy Holdings, LLC', 'Town Square Energy',
       'Sunwave Gas & Power Connecticut, Inc.', 'MP2 Energy LLC',
       'Direct Energy Business', 'New Brunswick Power Generation Corp.',
       'NextEra Energy Power Marketing', 'Dominion Retail Inc',
       'CECG Maine, LLC', 'Noble Americas Energy Solutions LLC',
       'Suez Energy Resources North Am',
       'Direct Energy Business Marketing, LLC',
       'Talen Energy Marketing, LLC', 'Competitive Energy Services, L',
       'Glacial Energy Holdings', 'NEPM II', 'GEXA Corp.',
       'Integrys Energy Services, Inc.', 'HESS CORPORATION',
       'PPL EnergyPlus LLC', 'ENGIE Resources Inc.',
       'Gulf Oil Limited Partnership', 'Major Energy Electric Services',
       'Energywell LLC'], dtype=object)

In [8]:
# Calculate the sum of SALES_KWH and CUSTOMERS grouped by year
sum_sales_kwh = me_res_df.groupby('YEAR')['SALES_KWH'].sum()
sum_customers = me_res_df.groupby('YEAR')['CUSTOMERS'].sum()

# Compute the quotient
quotient = sum_sales_kwh / sum_customers / 12
quotient

YEAR
2012    461.561710
2013    432.629409
2014    377.197147
2015    571.064011
2016    562.141269
2017    535.886131
2018    539.896584
2019    587.276855
2020    580.470250
2021    584.522161
2022    557.546967
dtype: float64

In [11]:
print('Annual Average Per Customer')
me_res_df.groupby('YEAR')['SALES_KWH'].sum() / me_res_df.groupby('YEAR')['CUSTOMERS'].sum() / 12

Annual Average Per Customer

YEAR
2012    461.561710
2013    432.629409
2014    377.197147
2015    571.064011
2016    562.141269
2017    535.886131
2018    539.896584
2019    587.276855
2020    580.470250
2021    584.522161
2022    557.546967
dtype: float64

### Reconstruct OPA analysis

In [33]:
import tabula

# Path to your PDF file
pdf_path = "etl_scripts/raw_data/2024-02-06_OPA Testimony_SUPPORT w Attachments_LD 2163.pdf"

# Read tables from the PDF
tables = tabula.read_pdf(pdf_path, pages='4-8', multiple_tables=True)

# Loop through the extracted tables and print them
for i, table in enumerate(tables, start=1):
    print(f"Table {i}:")
    print(table)
    print("\n")

Table 1:
   2016  $0.064643  $0.097309  $0.066240  $0.062423  $0.082595         NA
0  2017  $0.066910  $0.087149  $0.063220  $0.065386  $0.070669  $0.070680
1  2018  $0.079206  $0.092153  $0.072250  $0.092249  $0.074230  $0.066930
2  2019  $0.090029  $0.093207  $0.083695  $0.090049  $0.084610  $0.071972
3  2020  $0.073037  $0.091609  $0.068785  $0.091695  $0.067294  $0.071280
4  2021  $0.064494  $0.085861  $0.061960  $0.081348  $0.060267  $0.070856
5  2022  $0.118161  $0.091005  $0.116840  $0.083348  $0.110873  $0.077952


Table 2:
  Total Year-end Residential CEP Customers
0                                 MPUC EIA
1                     2016 115,040 117,544
2                     2017 116,700 112,504
3                      2018 85,843 105,786
4                       2019 71,600 76,053
5                       2020 67,553 67,730
6                       2021 64,693 64,279
7                       2022 51,834 62,100

## Computing average price required to save $33M

Average standard offer (as used in OPA analysis): 0.115291333333333
Year-end CEP customers in analysis: 51,834
Stated savings: $33,205,291

NameError: name 'hf' is not defined

In [67]:
puc_migration = pd.read_csv('etl_scripts/prepared_data/customers_migrated.csv')
puc_migration['DATE'] = pd.to_datetime(puc_migration['DATE'])

puc_migration[(puc_migration['DATE'].dt.month == 12) & (puc_migration['CUSTOMER_CLASS'] == 'SMALL')]

,DATE,CEP_CUSTOMERS,TOTAL_CUSTOMERS,UTILITY,CUSTOMER_CLASS
7,2022-12-31,10017.0,126794.0,BANGOR HYDRO DISTRICT,SMALL
19,2021-12-31,10772.0,134874.0,BANGOR HYDRO DISTRICT,SMALL
31,2020-12-31,11040.0,133202.0,BANGOR HYDRO DISTRICT,SMALL
43,2019-12-01,11076.0,127251.0,BANGOR HYDRO DISTRICT,SMALL
55,2018-12-01,11933.0,126595.0,BANGOR HYDRO DISTRICT,SMALL
...,...,...,...,...,...
1319,2004-12-01,2671.0,NaN,MAINE PUBLIC SERVICE,SMALL
1331,2003-12-01,2882.0,NaN,MAINE PUBLIC SERVICE,SMALL
1342,2002-12-01,5715.0,NaN,MAINE PUBLIC SERVICE,SMALL
1354,2001-12-01,1281.0,NaN,MAINE PUBLIC SERVICE,SMALL
1366,2000-12-01,1680.0,NaN,MAINE PUBLIC SERVICE,SMALL

In [68]:
puc_migration['DATE'] = pd.to_datetime(puc_migration['DATE'])
puc_migration['YEAR'] = puc_migration['DATE'].dt.year

puc_migration.groupby('DATE')['CEP_CUSTOMERS'].sum()

DATE
2000-08-01     1494.0
2000-10-01     2554.0
2000-11-01     2895.0
2000-12-01     2951.0
2001-01-01     3114.0
               ...
2023-03-31    82638.0
2023-04-30    77135.0
2023-05-31    89205.0
2023-06-30    92879.0
2023-07-31    92553.0
Name: CEP_CUSTOMERS, Length: 274, dtype: float64

In [44]:
avg_std = np.mean( [0.118161, 0.116840, 0.110873] )
avg_cep = np.mean( [0.091005, 0.083348, 0.077952] )
cust_2022 = 51834
savings = 33205291 

kw = savings / (avg_std - avg_cep)

kw / cust_2022 / 12

1711.5933356364076