In [2]:
import pandas as pd
import requests
import string
import urllib
import datadotworld as dw
import os
from scrapy import Selector

In [107]:
# Data file URL
url = 'https://www.bls.gov/cew/downloadable-data-files.htm'

#Pull in page content
r = requests.get(url)

#Make Selector item to scrape
sel = Selector(text = r.text)

# Select annual average file list
sing_files = sel.xpath('//*[@id="cew_naics_data"]/tbody//td[7]//@href').extract()

      area_fips      area_title
4          1000         Alabama
76         2000          Alaska
127        4000         Arizona
147        5000        Arkansas
227        6000      California
290        8000        Colorado
359        9000     Connecticut
372       10000        Delaware
386       12000         Florida
459       13000         Georgia
624       15000          Hawaii
633       16000           Idaho
682       17000        Illinois
789       18000         Indiana
886       19000            Iowa
990       20000          Kansas
1100      21000        Kentucky
1225      22000       Louisiana
1294      23000           Maine
1315      24000        Maryland
1344      25000   Massachusetts
1363      26000        Michigan
1451      27000       Minnesota
1543      28000     Mississippi
1630      29000        Missouri
1751      30000         Montana
1813      31000        Nebraska
1911      32000          Nevada
1933      33000   New Hampshire
1948      34000      New Jersey
1974      35000      New Mexico
2012      36000        New York
2079      37000  North Carolina
2184      38000    North Dakota
2242      39000            Ohio
2335      40000        Oklahoma
2417      41000          Oregon
2458      42000    Pennsylvania
2530      44000    Rhode Island
2540      45000  South Carolina
2591      46000    South Dakota
2664      47000       Tennessee
2764      48000           Texas
3023      49000            Utah
3057      50000         Vermont
3076      51000        Virginia
3217      53000      Washington
3261      54000   West Virginia
3321      55000       Wisconsin
3399      56000         Wyoming
3428      72000     Puerto Rico
3511      78000  Virgin Islands

In [ ]:
# Define list of state codes from BLS link and filter to code and name
# This will be a reference to filter the single files
state_list = pd.read_csv('https://data.bls.gov/cew/doc/titles/area/area_titles.csv')
state_list = state_list[state_list['area_title'].str.contains('-- Statewide',regex=False)]
state_list['area_title'] = state_list['area_title'].str.split(' --',n=1,expand=True)
state_list['area_fips'] = state_list['area_fips'].astype('int64')
state_list

In [146]:
# Define list of industries from BLS
industry_list = pd.read_csv('https://data.bls.gov/cew/doc/titles/industry/industry_titles.csv')

# Winnow down to just six-digit values
six_digit = industry_list[industry_list['industry_code'].str.len()==6]

# Identify only the newspaper-related code: 511110
news = (six_digit[six_digit['industry_title']
                  .str.contains('Newspaper publishers',regex=False)]
       )

all = (industry_list[industry_list['industry_title']
                     .str.contains('Total, all industries',regex=False)]
      )

news_all = pd.concat([news,all])

     industry_code                     industry_title
1648        511110  NAICS 511110 Newspaper publishers
0               10           10 Total, all industries

In [140]:
id=0
dfs=[]
for x in range(0,len(sing_files)-1):
    
    qcew = (pd.read_csv(sing_files[id])
            .merge(state_list, how='inner', on='area_fips')
            .merge(news_all,how='inner',on='industry_code')
           )
    dfs.append(qcew)
    id+=1
    
df = pd.concat(dfs,sort=False,ignore_index=True).drop_duplicates().reset_index(drop = True)

/Users/Darren/anaconda3/envs/scraper/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,7,15,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Darren/anaconda3/envs/scraper/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Darren/anaconda3/envs/scraper/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,15,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,area_fips,own_code,industry_code,agglvl_code,size_code,year,qtr,disclosure_code,annual_avg_estabs,annual_avg_emplvl,...,oty_taxable_annual_wages_chg,oty_taxable_annual_wages_pct_chg,oty_annual_contributions_chg,oty_annual_contributions_pct_chg,oty_annual_avg_wkly_wage_chg,oty_annual_avg_wkly_wage_pct_chg,oty_avg_annual_pay_chg,oty_avg_annual_pay_pct_chg,area_title,industry_title
0,1000,5,511110,58,0,2018,A,NaN,130,1893,...,-1625906,-8.8,51244,17.7,42,5.5,2196,5.5,Alabama,NAICS 511110 Newspaper publishers
1,2000,5,511110,58,0,2018,A,NaN,19,358,...,-3053254,-20.9,-49724,-22.1,38,5.4,1963,5.4,Alaska,NAICS 511110 Newspaper publishers
2,4000,5,511110,58,0,2018,A,NaN,89,2204,...,-637220,-3.3,-256250,-53.7,56,6.4,2916,6.4,Arizona,NAICS 511110 Newspaper publishers
3,5000,5,511110,58,0,2018,A,NaN,90,1755,...,-5593365,-22.7,-104358,-35.4,20,3.4,1023,3.3,Arkansas,NAICS 511110 Newspaper publishers
4,6000,5,511110,58,0,2018,A,NaN,500,9986,...,-4044694,-4.6,-298503,-6.1,46,4.0,2396,4.1,California,NAICS 511110 Newspaper publishers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1452,53000,5,511110,58,0,1991,A,NaN,213,7599,...,0,0.0,0,0.0,27,6.8,1392,6.8,Washington,NAICS 511110 Newspaper publishers
1453,54000,5,511110,58,0,1991,A,NaN,85,2912,...,0,0.0,0,0.0,11,3.7,594,3.9,West Virginia,NAICS 511110 Newspaper publishers
1454,55000,5,511110,58,0,1991,A,NaN,217,11794,...,0,0.0,0,0.0,15,4.9,762,4.8,Wisconsin,NAICS 511110 Newspaper publishers
1455,56000,5,511110,58,0,1991,A,NaN,45,1077,...,0,0.0,0,0.0,3,1.0,143,0.9,Wyoming,NAICS 511110 Newspaper publishers
1456,72000,5,511110,58,0,1991,A,NaN,12,2301,...,0,0.0,0,0.0,110,39.3,5717,39.2,Puerto Rico,NAICS 511110 Newspaper publishers

In [141]:
df.to_csv('newspaper_jobs_and_totals_by_state.csv')